vs:
  load-example-data: true
  geocoder:
    db:
      schema: tiger
      username: postgres
      password: this_is_not_safe
      url: jdbc:postgresql://localhost:${VS_DB_PORT:5432}/geocoder
  schedule-source:
    sources:
      - "https://raw.githubusercontent.com/smart-on-fhir/smart-scheduling-links/master/examples/"
spring:
  cache:
    type: redis
  jpa:
    properties:
      javax.persistence.sharedCache.mode: ENABLE_SELECTIVE
      hibernate:
        generate_statistics: true
        cache:
          use_query_cache: true
          use_second_level_cache: true
          region:
            factory_class: org.redisson.hibernate.RedissonRegionFactory
          redisson:
            fallback: true
            config: redisson/redisson-dev.yml
